@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --icons-color: #eff2ff;
  --icons-dark-color: rgb(0, 0, 50);
  --icons-bg-color: rgb(181, 181, 255);
  --shadow-dark-color: rgb(104, 134, 253);
  --shadow-light-color: rgba(0, 0, 255, 0.404);
  --modal-bg-color: rgba(82, 104, 177, 0.178);
  --modal-solid-bg: #00001f;
  --ele-bg-color: rgb(5, 2, 204);
  --ele-hover-bg-color: rgb(135, 135, 255);
  --main-bg-color: green;

  /* --box-shadow: 1rem_1rem_2rem_rgba(0,0,0,0.25); */

  --box-shadow-2: 0rem 0rem 0rem var(--shadow-dark-color), 
                  -.3rem -.3rem 1rem var(--shadow-dark-color);
}

*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: none;
}

::selection{
  color: var(--shadow-dark-color);
  background: var(--icons-color);
}

::-webkit-scrollbar{
  width: 1rem;
  border: 1px solid var(--modal-bg-color)
}

::-webkit-scrollbar-track{
  border-radius: 0;
  background-color: var(--modal-bg-color);
}

::-webkit-scrollbar-thumb{
  border-radius: 2rem;
  background: var(--icons-color);
  width: .5rem;
}

body {
  color: var(--icons-color);
  background-image: url('../img/Background.png');
  /* background-color: #00001f; */
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Poppins', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

.glowing{
  --glow-color: blue;
  --glow-spread-color: rgb(17, 17, 253);
  --enhanced-glow-color: rgb(46, 46, 255);
  --btn-color: rgb(0, 0, 113);
  border: 0.2em solid var(--glow-color);
  padding: 0.5em 1.3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(btn-color);
  border-radius: 2em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
              0 0 4em 1em var(--glow-spread-color)
              inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.glowing::after{
  pointer-events: none;
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1,0.4);
}

.glowing:hover{
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow:  0 0 1em 0.25em var(--glow-color),
                0 0 6em 1.5em var(--glow-spread-color),
                inset 0 0 0.75em 0.25em var(--glow-color);
}

.glowing:active{
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
              0 0 2.5em 2em var(--glow-spread-color),
              inset 0 0 0.5em 0.25em var(--glow-color);
}

  @media (max-width: 640px) {  
    .glowing {
      font-size: 12px; 
      padding: 0.4em 1em; 
      border-width: 0.1em; 
    }
  
    .glowing::after {
      transform: perspective(1.2em) rotateX(30deg) scale(1, 0.3);
    }
  }
